html, body{
    height: 100%;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}

body{
    background: url(header.jpg) center center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#horizontal-rule{
    margin: 20px auto;
    color: #F05F44;
    border: 3px solid #F05F44;
    max-width: 65px;
    opacity: 1;
}
#find-out-button{
    background-color: #F05f44;
    border-color: #F05f44;
    border-radius: 300px;
    max-width: 200px;
    padding: 20px;
    color: inherit;
    text-transform: uppercase;
    font-family: inherit;
}
#find-out-button:hover{
    background-color: #ee4b08;
    border: solid 4px #ee4b08;
    
}
a:link{
    color: inherit;
}
a:hover{
    color: inherit;
}
a:visited{
    color: inherit;
}
a:active{
    color: inherit;
}
#find-out-button:active{
    background-color: #ee4b08;
    border: solid 4px #ee4b08;
}
#horizontal-rule{
    width: 100%;
}
.buffer{
    height: 100px;
}
